.contact-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid rgb(197, 197, 197);
  background-color: rgb(51, 59, 102);
  padding: 15px;
  margin: 15px;
  max-width: 550px;
  margin: auto;
  border-radius: 5px;
}

.contact-img {
  background-color: transparent;
}

.contact-img img {
  width: 125px;
  height: 125px;
  border-radius: 62.5px;
}

.contact-info {
  text-align: center;
}

.contact-btns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-btns button {
  border: none;
  margin: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  color: aliceblue;
}

.contact-btn {
  padding: 10px;
  background-color: green;
  border: none;
  color: white;
  float: right;
  margin: 15px;
  border-radius: 5px;
  text-decoration: none;
}
.contact-btns button:first-child {
  background-color: rgb(2, 2, 179);
}
.contact-btns button:last-child {
  background-color: rgb(180, 0, 0);
}

.contact-btn-container {
  width: 100%;
  display: flex;
  justify-content: right;
}

.contact-link {
  color: white;
  text-decoration: none;
}
.contact-width {
  padding: 10px;
}
