@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Outfit&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

.form-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home-h1 {
  text-align: center;
}

.home-input {
  margin-bottom: 20px;
  height: 40px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid rgb(184, 184, 184);
}

.home-input,
label {
  min-width: 50%;
}

.home-btn {
  min-width: 300px;
  background-color: rgb(30, 70, 247);
  border: none;
  color: white;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.home-link {
  text-align: center;
  margin-top: 10px;
}
